.title {
  width: 100%;
  text-align: center;
  letter-spacing: 1px;

  h3 {
    font-size: 23px;
    font-weight: 500;
    color: #FCFBEE;
    @media screen and (width < 576px) {
      color: #FF7E5F; // Nouvelle couleur pour le titre
      font-size: 18px;
    }
  }

  p {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #ccc;

    @media screen and (width < 576px) {
      margin-top: 5px;
      font-size: 14px;
    }
  }
}

.action {
  height: auto;

  button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px auto 0 auto;
    padding: 10px 20px;
    background: linear-gradient(45deg, #FF7E5F, #FEAE96, #E684AE);
    border: none;
    border-radius: 30px;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      background: linear-gradient(45deg, #E684AE, #FEAE96, #FF7E5F);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);

      p {
        color: #fff;
      }
    }

    .animation {
      width: 40px;

      @media screen and (width < 576px) {
        width: 30px;
      }
    }

    p {
      font-size: 16px;
      color: #fff;
      @media screen and (width < 576px) {
        font-size: 13px;
      }
    }
  }
}

.divider {
  width: 95%;
  height: 1px;
  background-color: #535353;
  margin: 25px auto;
  outline: none;
  border: none;
}
